//Redirige toutes les requêtes vers index.html
RewriteEngine On
RewriteBase /

//Ne pas réécrire si le fichier ou le dossier existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

//Tout le reste vers index.html
RewriteRule ^ index.html [L]